<mat-dialog-content class="mat-typography">
  <h3>Rubric</h3>
  <p>Based on this marking rubric you should be able to tell what you need to look out for while doing a code review</p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Criteria</th>
        <th scope="col">Excellent</th>
        <th scope="col">Good</th>
        <th scope="col">Adequate</th>
        <th scope="col">Developing</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Program Specifications / Correctness</td>
        <td>No errors, program always works correctly and meets the specification's.</td>
        <td>Minor details of the program specification are violated, program functions incorrectly for some inputs.</td>
        <td>Significant details of the specification are violated, program often exhibits incorrect behavior.</td>
        <td>Program only functions correctly in very limited cases or not at all.</td>
      </tr>
      <tr>
        <td>Readability</td>
        <td>No errors, code is clean, understandable, and well-organized.</td>
        <td>Minor issues with consistent indentation, use of whitespace, variable naming, or general organization.</td>
        <td>At least one major issue with indentation, whitespace, variable names, or organization.</td>
        <td>Major problems with indentation, whitespace, variable names, or organization.</td>
      </tr>
      <tr>
        <td>Code Efficiency</td>
        <td>No errors, code uses the best approach in every case.</td>
        <td>N/A</td>
        <td>Code uses poorly-chosen approaches in at least one place.</td>
        <td>Many things in the code could have been accomplished in an easier, faster, or otherwise better fashion.</td>
      </tr>
      <tr>
        <td>Documentation</td>
        <td>No errors, code is well-commented.</td>
        <td>One or two places that could benefit from comments are missing them or the code is overly commented.</td>
        <td>File header missing, complicated lines or sections of code uncommented or lacking meaningful comments.</td>
        <td>No file header or comments present.</td>
      </tr>
      <tr>
        <td>Assignment Specifications</td>
        <td>No errors</td>
        <td>N/A</td>
        <td>Minor details of the assignment specification are violated, such as files named incorrectly or extra
          instructions slightly misunderstood.</td>
        <td>Significant details of the specification are violated, such as extra instructions ignored or entirely
          misunderstood.</td>
      </tr>
    </tbody>
  </table>
</mat-dialog-content>
<a target="_blank" href="https://github.com/accesscode-2-1/user-manual/blob/master/code-review-rubric.md">Rubric based
  on</a>
<p>Useful Links:</p>
<ul>
  <li><a target="_blank" href="https://ocw.mit.edu/ans7870/6/6.005/s16/classes/04-code-review/index.html">Code Review at
      MIT</a></li>
  <li><a target="_blank" href="https://google.github.io/eng-practices/review/reviewer/looking-for.html">GitHub Code
      Review</a></li>
</ul>


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>