<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-sm-9 toprow">
      <h1>Code Review - {{filename}}</h1>
      <div style="height: 500px; padding-bottom:10px;">
        <ngx-monaco-editor [options]="{ theme: 'vs-dark', language: this.language }" [(ngModel)]="codeContent">
        </ngx-monaco-editor>
      </div>
      <button class="btn" (click)="openDialog()">View Rubric</button>
    </div>
    <div class="col-sm-3">
      <h1>Comments</h1>
      <form (ngSubmit)="onAddComment()" #commentform="ngForm">
        <textarea #comment type="textarea" cols="30" id="inputComment" name="comment" placeholder="Comment" ngModel>{{thecomment.clear}}</textarea>
        <button class="btn" type="submit">Add Comment</button>
      </form>
      <div class="container p-3 my-3 border" *ngFor="let item of comments">
        <div class="row">
          <div class="col-sm-12">
              <p>Comment: {{item.comment}}</p>
              <p>User: {{item.username}}</p>
              <p>Date added: {{item.timestamp}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>