<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-sm-9 toprow">
      <h1>Code Review - {{filename}}</h1>
      <div style="height: 500px">
        <ngx-monaco-editor [options]="{ theme: 'vs-dark', language: this.language }" [(ngModel)]="codeContent">
        </ngx-monaco-editor>
      </div>
    </div>
    <div class="col-sm-3">
      <h1>Comments</h1>
      <form (ngSubmit)="onAddComment()" #commentform="ngForm">
        <textarea type="textarea" cols="30" id="inputComment" name="comment" placeholder="Comment" ngModel></textarea>
        <button class="btn" type="submit">Add Comment</button>
      </form>
    </div>
  </div>
</div>