<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-sm-12 welcomerow">
            <h1>Welcome {{user}}</h1>
        </div>
    </div>
    <div class="row middlerow">
        <div class="col-sm-12 col-md-6">
            <a routerLink="/upload" class="btn">Upload Code</a>
        </div>
        <div class="col-sm-12 col-md-6">
            <a routerLink="/review" class="btn">Code Review</a>
        </div>
    </div>
    <div class="row bottomrow">
        <div class="col-sm-12">
            <a routerLink="/mycode" class="btn">My Code</a>
        </div>
    </div>
</div>