<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-sm-12 toprow">
      <h1>Upload Code</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <h3 class="uploadText">Select File to be uploaded:</h3>
        <input class="uploadButton" type="file" id="file" (change)="handleFileInput($event.target.files)">
        <p class="text-danger">{{fileMessage}}</p>
      </div>
      <div style="height: 500px">
        <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
      </div>

    </div>

  </div>
  <div class="row middlerow">
    <div class="col-sm-6">
      <form (ngSubmit)="uploadDocument()" #uploadform="ngForm">
        <h4 class="uploadText">Upload file to see preview:</h4>
        <button class="uploadButton" type="submit" [disabled]="!fileToUpload">Upload File</button>
      </form>
    </div>
    <div class="col-sm-6">
      <form (ngSubmit)="submitForReview()" #uploadform="ngForm">
        <select id='peeps' name='people' [(ngModel)]="userSelect">
          <option value="">Select Reviewer</option>
          <option *ngFor="let item of userArray" [value]="item._id">
            {{item.username}}
          </option>
        </select>
        <button style="margin-top: 20px;" type="submit" [disabled]="!fileContent">Submit Code</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p class="text-danger">{{message}}</p>
    </div>
  </div>
</div>