<!-- Default form login -->

<div class="container card-top">
  <h1>GCU Peer Code Review</h1>
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <p style="text-align: center;">
            <span style="text-align: center; display: inline-block;" class="material-icons icon" aria-hidden="true">person</span>
          </p>
          <form (ngSubmit)="onLoginSubmit()" #loginform="ngForm" class="form-signin">
            <div class="form-label-group">
              <input type="text" id="inputUsername" name="username" class="form-control mb-4" placeholder="Username" ngModel required autofocus>
              <label for="inputUsername">Username</label>
            </div>
            <div class="form-label-group">
              <input type="password" id="inputPassword" name="password" class="form-control mb-4" placeholder="Password" ngModel required>
              <label for="inputPassword">Password</label>
            </div>
            <p class="text-danger">{{ message }}</p>
            <button mdbBtn color="info" block="true" class="btn btn-lg btn-submit btn-block" type="submit">Sign in</button>
          </form>
        </div>
      </div>
      <button mdbBtn color="info" block="true" class="btn btn-lg btn-reg btn-block" routerLink="/register">Register</button>
    </div>
  </div>
</div>